@charset "utf-8";
$potive:relative;
$width:100%;
$height:100%;
$disinline:inline-block;
$disblock:block;
$poab:absolute;
// 顶部悬浮的导航
.top-nav {
    .i-icon {
        background: url(../img/i_icon3.png) no-repeat;
    }
    position: $poab;
    top:-48px;
    .sub-nav {
        height: 37px;
        position: $potive;
        padding: 0;
        z-index: 79;
        top: -48px;
        .fixed {
            position: fixed;
            width: 100%;
            height: 37px;
            z-index: 999;
            // top: -48px;
            // left: 0px;
            background: #fff;
            .wrapper-nav {
                width: 1080px;
                margin: 0 auto;
                position: $potive;
                ul {
                    line-height: 30px;
                    .sub-nav-logo {
                        display: $disinline;
                        width: 98px;
                        height: 48px;
                        padding: 0;
                        margin-right: 18px;
                        background-image: url(../img/92788ffe070a9643a1bc1d8e2284b182.png);
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    li {
                        position: $potive;
                        vertical-align: top;
                        display: $disinline;
                        height: 45px;
                        line-height: 45px;
                        text-align: center;
                        a {
                            margin: 0 12px 0 0;
                            padding: 0 10px;
                            color: #999;
                            display: $disblock;
                            height: 27px;
                            font-size: 12px;
                        }
                    }
                    .overseas {
                        position: $poab;
                        top: 0;
                        right: 144px;
                        font-size: 12px;
                        height: 37px;
                        padding: 0 28px;
                        background: #f7f7f7;
                        color: #7f4dbc;
                        border-radius: 0;
                        border-right: 1px solid #ddd;
                        z-index: 9999;
                    }
                    .tuan {
                        position: $poab;
                        top: 0;
                        right: 0;
                        font-size: 12px;
                        height: 37px;
                        padding: 0 28px;
                        background: #f7f7f7;
                        z-index: 9999;
                        a {
                            color: #ff506b;
                        }
                    }
                }
            }
        }
    }
}