@charset "UTF-8";
.top-nav {
  position: absolute;
  top: -48px; }
  .top-nav .i-icon {
    background: url(../img/i_icon3.png) no-repeat; }
  .top-nav .sub-nav {
    height: 37px;
    position: relative;
    padding: 0;
    z-index: 79;
    top: -48px; }
    .top-nav .sub-nav .fixed {
      position: fixed;
      width: 100%;
      height: 37px;
      z-index: 999;
      background: #fff; }
      .top-nav .sub-nav .fixed .wrapper-nav {
        width: 1080px;
        margin: 0 auto;
        position: relative; }
        .top-nav .sub-nav .fixed .wrapper-nav ul {
          line-height: 30px; }
          .top-nav .sub-nav .fixed .wrapper-nav ul .sub-nav-logo {
            display: inline-block;
            width: 98px;
            height: 48px;
            padding: 0;
            margin-right: 18px;
            background-image: url(../img/92788ffe070a9643a1bc1d8e2284b182.png);
            background-repeat: no-repeat;
            background-position: center; }
          .top-nav .sub-nav .fixed .wrapper-nav ul li {
            position: relative;
            vertical-align: top;
            display: inline-block;
            height: 45px;
            line-height: 45px;
            text-align: center; }
            .top-nav .sub-nav .fixed .wrapper-nav ul li a {
              margin: 0 12px 0 0;
              padding: 0 10px;
              color: #999;
              display: block;
              height: 27px;
              font-size: 12px; }
          .top-nav .sub-nav .fixed .wrapper-nav ul .overseas {
            position: absolute;
            top: 0;
            right: 144px;
            font-size: 12px;
            height: 37px;
            padding: 0 28px;
            background: #f7f7f7;
            color: #7f4dbc;
            border-radius: 0;
            border-right: 1px solid #ddd;
            z-index: 9999; }
          .top-nav .sub-nav .fixed .wrapper-nav ul .tuan {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 12px;
            height: 37px;
            padding: 0 28px;
            background: #f7f7f7;
            z-index: 9999; }
            .top-nav .sub-nav .fixed .wrapper-nav ul .tuan a {
              color: #ff506b; }

.iconfont {
  font-family: iconfont;
  font-size: 16px;
  font-style: normal; }

.top_warning {
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  width: 100%;
  color: #666;
  background: #fff8ef; }
  .top_warning .warning_notice {
    margin: auto;
    width: 1080px; }
  .top_warning .warning_notice::before {
    display: inline-block;
    width: 12px;
    height: 12px;
    content: "";
    background: url(../img/upload_8c570a8105fffad376a5a5ca12e5b5ea_12x12.png) center no-repeat;
    margin: 13px 6px 0 0; }

.top_nav {
  width: 100%;
  background: #f4f4f4;
  border-bottom: 1px solid #e8e8e8;
  height: 28px;
  position: relative;
  z-index: 110; }
  .top_nav .top_wrapper {
    width: 1080px;
    margin: 0 auto;
    position: relative; }
    .top_nav .top_wrapper ul {
      position: absolute;
      right: 0;
      top: 0;
      line-height: 28px;
      padding: 0;
      list-style: none; }
      .top_nav .top_wrapper ul li {
        font-size: 12px;
        display: inline-block;
        color: #555;
        vertical-align: top;
        margin: 0 12px; }
        .top_nav .top_wrapper ul li .t-pink {
          color: #ff5482; }
      .top_nav .top_wrapper ul .small {
        margin: 7px 0;
        height: 15px;
        width: 1px;
        background: #ddd; }
      .top_nav .top_wrapper ul .second {
        margin: 0 6px; }
  .top_nav a {
    color: #555; }
  .top_nav .navigation {
    position: relative;
    line-height: 1.4em;
    margin-top: 2px;
    margin-right: -8px;
    display: inline-block; }
    .top_nav .navigation .dropdown-default {
      display: inline-block;
      padding: 3px 8px 0 8px;
      z-index: 110;
      position: relative; }
    .top_nav .navigation .iconfont {
      font-size: 12px;
      vertical-align: 1px; }
    .top_nav .navigation .pink {
      color: #ff5482; }
    .top_nav .navigation .nav_block {
      width: 200px;
      position: absolute;
      top: 20px;
      right: -75px;
      font-size: 12px;
      display: none;
      background: #fff;
      border: 1px solid #cececf; }
      .top_nav .navigation .nav_block .show-d {
        float: left;
        width: 135px;
        text-align: center;
        color: #666;
        border-right: 1px dotted #cdcdce; }
        .top_nav .navigation .nav_block .show-d img {
          width: 90px;
          height: 90px; }
      .top_nav .navigation .nav_block .show-l {
        display: inline-block;
        width: 30px;
        vertical-align: top; }
        .top_nav .navigation .nav_block .show-l dd {
          margin-top: 10px;
          margin-bottom: 10px;
          margin-left: 12px; }
          .top_nav .navigation .nav_block .show-l dd img {
            width: 45px;
            height: 45px; }
  .top_nav .nav-list {
    position: relative;
    font-size: 12px;
    display: none;
    border-bottom: none;
    padding-bottom: 0;
    top: 20px !important;
    background: #fff;
    border: 1px solid #cececf; }
    .top_nav .nav-list li {
      line-height: 1.4em;
      padding: 4px 0; }
  .top_nav .navigation:hover .nav-list {
    display: block;
    border-top: none; }
    .top_nav .navigation:hover .nav-list a {
      color: inherit; }
  .top_nav .navigation:hover span {
    background: #fff;
    border: 1px solid #cececf;
    border-bottom: none; }
  .top_nav .navigation:hover .nav_block {
    border: 1px solid #cecccf;
    padding: 10px;
    display: block; }

.iconfont {
  font-family: iconfont;
  font-size: 16px;
  font-style: normal; }

#head {
  position: relative;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  height: 130px; }
  #head .head-wrapper {
    width: 1080px;
    margin: 0 auto; }
    #head .head-wrapper .logo {
      height: 90px;
      position: relative;
      text-align: left; }
      #head .head-wrapper .logo img {
        margin-top: 15px; }
      #head .head-wrapper .logo .logo-a {
        overflow: hidden;
        position: absolute;
        height: 50px;
        left: 0;
        top: 10px;
        width: 250px;
        display: block; }
      #head .head-wrapper .logo .logo-slogan {
        left: 525px;
        background: url(../img/upload_ae75f583dcb3536e115449a11bde5434_390x40.png) no-repeat;
        width: 390px;
        height: 40px;
        position: absolute;
        top: 25px; }
        #head .head-wrapper .logo .logo-slogan a {
          display: block;
          width: 100%;
          height: 100%; }
      #head .head-wrapper .logo .nav-cart .top-cart {
        left: 947px; }
      #head .head-wrapper .logo .nav-cart .top-cart {
        height: 34px;
        top: 28px;
        left: 949px;
        position: absolute;
        display: block;
        background: #ff647c;
        border-radius: 10px; }
        #head .head-wrapper .logo .nav-cart .top-cart span {
          color: #fff;
          padding: 0 12px 0 24px;
          font-size: 15px;
          line-height: 34px; }
          #head .head-wrapper .logo .nav-cart .top-cart span .iconfont {
            font-size: 13px;
            vertical-align: 1px; }
      #head .head-wrapper .logo .nav-cart .top-cart-icon {
        position: absolute;
        left: -18px;
        border: 2px solid #fff;
        height: 32px;
        width: 32px;
        line-height: 30px;
        text-align: center;
        border-radius: 18px;
        background: #444;
        color: #fff;
        top: -1px; }
      #head .head-wrapper .logo .nav-cart .nav-cart-detail {
        right: 3px;
        background: #fff;
        border-top: none;
        padding: 0;
        position: absolute;
        top: 62px; }
      #head .head-wrapper .logo .nav-cart .hidden {
        display: none; }
      #head .head-wrapper .logo .nav-cart:hover .hidden {
        display: block; }
  #head #main-nav {
    height: 38px;
    background: #ff647c; }
    #head #main-nav .wrapper {
      width: 1080px;
      margin: 0 auto; }
      #head #main-nav .wrapper .m-tab li {
        float: left;
        height: 38px;
        position: relative;
        width: 95px;
        text-align: center; }
        #head #main-nav .wrapper .m-tab li .item {
          height: 38px;
          width: 95px;
          font-size: 15px;
          font-weight: 700;
          line-height: 38px;
          text-align: center;
          color: #fff;
          display: inline-block; }
        #head #main-nav .wrapper .m-tab li .nav-i i {
          position: absolute;
          top: -4px;
          right: -4px;
          width: 27px;
          height: 18px;
          background: url(../img/upload_829e7d60f494bb7159132f6c5181c30b_54x36.png);
          background-size: 100%; }
      #head #main-nav .wrapper .m-tab .active {
        background: #f34660;
        color: #fff; }
      #head #main-nav .wrapper .onsale {
        position: absolute;
        right: 155px;
        top: 65px;
        font-size: 14px; }
        #head #main-nav .wrapper .onsale .classify {
          display: inline-block;
          height: 35px;
          width: 100px;
          text-align: right;
          padding-right: 5px;
          line-height: 30px;
          position: relative;
          float: left; }
          #head #main-nav .wrapper .onsale .classify .btn-cat {
            position: absolute;
            right: 115px;
            top: 30px;
            color: #fff;
            width: 75px;
            cursor: pointer; }
            #head #main-nav .wrapper .onsale .classify .btn-cat i {
              font-size: 12px;
              margin: 0 3px; }
          #head #main-nav .wrapper .onsale .classify .btn-list {
            position: absolute;
            width: 490px;
            left: -290px;
            top: 63px;
            background-color: #f9f9f9;
            border: 1px solid #ececec;
            overflow: hidden;
            z-index: 99999;
            display: none; }
            #head #main-nav .wrapper .onsale .classify .btn-list .list-box {
              display: block;
              width: 110px;
              float: left;
              z-index: 999; }
              #head #main-nav .wrapper .onsale .classify .btn-list .list-box li {
                border-bottom: 1px solid #e0e0e0;
                width: 80px;
                height: 34px;
                padding-right: 30px;
                line-height: 34px;
                border-right: 1px solid #e0e0e0;
                text-align: right;
                background-color: #f9f9f9;
                color: #666;
                cursor: pointer;
                font-size: 12px; }
              #head #main-nav .wrapper .onsale .classify .btn-list .list-box .current {
                background-color: #fff;
                border-right: 1px solid #fff;
                color: #ff4965; }
            #head #main-nav .wrapper .onsale .classify .btn-list .bn-con {
              margin-left: 110px;
              background: #fff;
              border-left: 1px solid #ececec; }
              #head #main-nav .wrapper .onsale .classify .btn-list .bn-con .cont {
                padding: 10px;
                padding-bottom: 0; }
                #head #main-nav .wrapper .onsale .classify .btn-list .bn-con .cont .cont-a-img {
                  text-align: center;
                  padding: 15px 14px 0 14px;
                  float: left;
                  width: 60px;
                  height: 93px;
                  border-right: 1px dashed #ececec;
                  border-bottom: 1px dashed #ececec;
                  overflow: hidden;
                  cursor: pointer; }
        #head #main-nav .wrapper .onsale .search-box {
          height: 28px;
          width: 215px;
          position: relative; }
          #head #main-nav .wrapper .onsale .search-box input {
            border-radius: 2px;
            border: 1px solid #e6e6e6;
            height: 26px;
            line-height: 26px;
            width: 200px;
            padding: 0 5px;
            font-size: 12px;
            color: #666;
            position: absolute;
            top: 30px;
            left: 0; }
        #head #main-nav .wrapper .onsale .search-icon {
          position: relative; }
          #head #main-nav .wrapper .onsale .search-icon .se-icon {
            position: absolute;
            right: 4px;
            top: 7px;
            width: 20px;
            height: 20px;
            color: #afafaf;
            background-color: #fff; }

@font-face {
  font-family: iconfont;
  src: url(fonts/font_tr83tta2jkc8r529.woff) format("woff"); }
.main .i-icon {
  background: url(../img/i_icon3.png) no-repeat; }
.main .sub-nav {
  height: 30px; }
  .main .sub-nav .fixed {
    position: relative;
    background: #fff; }
    .main .sub-nav .fixed .wrapper-nav {
      width: 1080px;
      margin: 0 auto;
      position: relative; }
      .main .sub-nav .fixed .wrapper-nav ul {
        line-height: 30px; }
        .main .sub-nav .fixed .wrapper-nav ul li {
          position: relative;
          vertical-align: top;
          display: inline-block; }
          .main .sub-nav .fixed .wrapper-nav ul li a {
            margin: 0 12px 0 0;
            padding: 0 10px;
            color: #999;
            display: block;
            height: 27px;
            font-size: 12px; }
        .main .sub-nav .fixed .wrapper-nav ul .tomorrow {
          position: absolute;
          right: 0;
          font-size: 13px;
          padding: 0 28px;
          color: #ff506b; }
          .main .sub-nav .fixed .wrapper-nav ul .tomorrow a {
            color: #ff506b; }
.main .banner {
  width: 100%;
  position: relative;
  height: 320px;
  margin-top: -1px; }
  .main .banner .banner-img {
    width: 100%;
    height: 320px;
    position: relative;
    overflow: hidden; }
    .main .banner .banner-img .repair-banner {
      position: absolute;
      text-align: center;
      background-color: #fd6c7d; }
  .main .banner .banner-tag {
    position: absolute;
    padding: 0;
    top: 1px;
    left: 50%;
    font-size: 0;
    width: 250px;
    height: 318px;
    margin-left: 290px;
    background: #fff;
    opacity: .95;
    overflow: hidden; }
    .main .banner .banner-tag li {
      position: relative;
      cursor: pointer;
      display: inline-block;
      vertical-align: top;
      width: 125px;
      height: 160px; }
      .main .banner .banner-tag li a {
        display: block;
        height: 156px;
        width: 122px;
        border: 1px solid #ddd;
        background: #fff;
        padding: 1px; }
        .main .banner .banner-tag li a img {
          margin: 26px 15px 2px 15px; }
        .main .banner .banner-tag li a p {
          text-align: center;
          font-size: 13px;
          color: #7f7f7f;
          width: 94px;
          overflow: hidden;
          margin: 0 15px;
          height: 20px; }
        .main .banner .banner-tag li a .icon-price {
          display: inline-block;
          background-position: -53px -33px;
          position: absolute;
          left: 70px;
          top: 12px;
          width: 36px;
          text-align: center;
          font-size: 12px;
          color: #fff;
          height: 36px;
          line-height: 36px; }
.main .main-wrapper {
  width: 1080px;
  margin: 0 auto;
  position: relative; }
  .main .main-wrapper .today-sale {
    padding-top: 20px;
    padding-bottom: 10px; }
    .main .main-wrapper .today-sale .special-sale {
      color: #666;
      font-size: 20px; }
      .main .main-wrapper .today-sale .special-sale .day {
        font-weight: 700; }
      .main .main-wrapper .today-sale .special-sale .d-dot {
        border: 1px solid #666;
        width: 2px;
        height: 2px;
        display: inline-block;
        background: #666;
        vertical-align: middle;
        margin: 0 5px 0 2px;
        overflow: hidden; }
  .main .main-wrapper .main-cont-right {
    position: relative;
    min-height: 2100px; }
    .main .main-wrapper .main-cont-right .tab {
      position: absolute;
      left: 830px;
      top: 0;
      z-index: 9; }
      .main .main-wrapper .main-cont-right .tab .hot-sale {
        margin-top: -30px; }
        .main .main-wrapper .main-cont-right .tab .hot-sale .hot {
          background-position: -180px 2px;
          padding-left: 25px;
          color: #666; }
        .main .main-wrapper .main-cont-right .tab .hot-sale .hot-cont {
          background: #fff;
          width: 248px;
          border: 1px solid #e7e7e7;
          overflow: hidden;
          margin-top: 5px; }
          .main .main-wrapper .main-cont-right .tab .hot-sale .hot-cont ul {
            height: 31px;
            overflow: hidden;
            font-size: 13px; }
            .main .main-wrapper .main-cont-right .tab .hot-sale .hot-cont ul li {
              float: left;
              width: 61px;
              height: 30px;
              line-height: 30px;
              border-right: 1px solid #dbdbdb;
              text-align: center;
              border-bottom: 1px solid #dbdbdb;
              color: #959595;
              cursor: pointer;
              background: #f9f9f9; }
            .main .main-wrapper .main-cont-right .tab .hot-sale .hot-cont ul .active {
              background: #FFF;
              color: #787878;
              height: 31px; }
          .main .main-wrapper .main-cont-right .tab .hot-sale .hot-cont .item a {
            display: block;
            border-bottom: 1px solid #f1f1f1;
            width: 228px;
            height: 70px;
            padding: 10px;
            color: #3e3e3e;
            font-size: 12px; }
            .main .main-wrapper .main-cont-right .tab .hot-sale .hot-cont .item a img {
              float: left;
              width: 70px;
              height: 70px; }
            .main .main-wrapper .main-cont-right .tab .hot-sale .hot-cont .item a .item-info {
              width: 143px;
              height: 57px;
              margin-left: 10px;
              float: left; }
              .main .main-wrapper .main-cont-right .tab .hot-sale .hot-cont .item a .item-info .hot-title {
                width: 143px;
                height: 36px;
                line-height: 18px;
                overflow: hidden; }
              .main .main-wrapper .main-cont-right .tab .hot-sale .hot-cont .item a .item-info .h-price .price-num {
                color: #ff5482; }
              .main .main-wrapper .main-cont-right .tab .hot-sale .hot-cont .item a .item-info .h-price .price-num-n {
                font-weight: 700;
                font-size: 14px;
                line-height: 24px; }
              .main .main-wrapper .main-cont-right .tab .hot-sale .hot-cont .item a .item-info .h-price .price-del {
                text-decoration: line-through;
                color: #a5a5a5;
                margin-left: 5px; }
    .main .main-wrapper .main-cont-right .shopping {
      position: relative;
      margin-bottom: 40px;
      width: 1110px; }
      .main .main-wrapper .main-cont-right .shopping ul li {
        border: 0;
        background: 0 0;
        box-shadow: none;
        transition: none;
        padding: 0;
        width: 257px;
        display: inline-block;
        margin-right: 22px;
        margin-bottom: 21px;
        overflow: hidden; }
        .main .main-wrapper .main-cont-right .shopping ul li .shopping-shows .show-wrap {
          margin-top: 0;
          position: relative;
          overflow: hidden; }
          .main .main-wrapper .main-cont-right .shopping ul li .shopping-shows .show-wrap .title {
            margin: 12px 14px;
            font-size: 12px;
            color: #666;
            text-align: left;
            line-height: 14px;
            overflow: hidden;
            text-overflow: ellipsis; }
          .main .main-wrapper .main-cont-right .shopping ul li .shopping-shows .show-wrap .price-info {
            margin: 12px 14px 16px;
            width: auto;
            height: 28px;
            line-height: 28px;
            text-align: left;
            position: relative; }
            .main .main-wrapper .main-cont-right .shopping ul li .shopping-shows .show-wrap .price-info .cur-price {
              font-weight: 700;
              display: inline-block; }
              .main .main-wrapper .main-cont-right .shopping ul li .shopping-shows .show-wrap .price-info .cur-price .currency {
                font-size: 20px;
                margin-right: 1px;
                color: #ff4965; }
              .main .main-wrapper .main-cont-right .shopping ul li .shopping-shows .show-wrap .price-info .cur-price .price-num {
                font-size: 24px;
                letter-spacing: 1px;
                color: #ff4965; }
              .main .main-wrapper .main-cont-right .shopping ul li .shopping-shows .show-wrap .price-info .cur-price .price-little {
                font-size: 12px;
                color: #ff4965; }
            .main .main-wrapper .main-cont-right .shopping ul li .shopping-shows .show-wrap .price-info .del-price {
              font-size: 14px;
              color: #999;
              line-height: 14px;
              letter-spacing: 1px;
              margin-left: 8px;
              text-decoration: line-through;
              display: inline-block; }
            .main .main-wrapper .main-cont-right .shopping ul li .shopping-shows .show-wrap .price-info .discount-desc {
              font-size: 14px;
              line-height: 14px;
              color: #999;
              text-align: right;
              position: absolute;
              bottom: 3px;
              right: 0;
              display: inline-block; }
    .main .main-wrapper .main-cont-right .splendid {
      width: 1100px;
      height: 60px;
      font-size: 14px;
      margin-top: -40px;
      text-align: center;
      vertical-align: middle;
      line-height: 60px;
      background-color: #f7ebeb;
      cursor: pointer;
      font-weight: 700; }
      .main .main-wrapper .main-cont-right .splendid .iconfont {
        padding-left: 6px; }

.bottom-bg {
  position: relative;
  height: 148px;
  width: 100%;
  overflow: hidden;
  margin-top: 50px; }
  .bottom-bg img {
    position: absolute;
    left: 50%;
    margin-left: -960px;
    background-position: center; }

.service {
  border-top: 1px solid #ddd;
  background: #f1f1f1;
  padding: 10px 0;
  min-width: 1000px; }
  .service .s-wrapper {
    width: 1080px;
    margin: 0 auto;
    position: relative; }
    .service .s-wrapper .center-box {
      text-align: center; }
      .service .s-wrapper .center-box .greenhand {
        border-bottom: 1px solid #e9e1e8;
        height: 150px; }
        .service .s-wrapper .center-box .greenhand .green-hands {
          border-left: none; }
        .service .s-wrapper .center-box .greenhand dl {
          border-right: 1px solid #e9e1e8;
          float: left;
          height: 120px;
          margin: 15px 0;
          padding: 0 0 0 15px;
          width: 115px;
          text-align: left; }
          .service .s-wrapper .center-box .greenhand dl dt {
            color: #777;
            font-size: 14px; }
          .service .s-wrapper .center-box .greenhand dl dd {
            margin: 0 0 0 3px;
            font-size: 12px; }
            .service .s-wrapper .center-box .greenhand dl dd a {
              display: block;
              height: 22px;
              line-height: 22px;
              overflow: hidden;
              padding-left: 9px;
              color: #888; }
        .service .s-wrapper .center-box .greenhand .special-offers {
          background: url(../img/sns_icon3.png) no-repeat;
          width: 95px;
          padding: 10px 0 0 105px;
          height: 110px;
          border-right: none; }
          .service .s-wrapper .center-box .greenhand .special-offers .pink {
            color: #ff5482; }
            .service .s-wrapper .center-box .greenhand .special-offers .pink .s-known {
              color: #999;
              padding-top: 5px;
              display: inline-block; }
      .service .s-wrapper .center-box .pic-bottom {
        height: 70px;
        border-top: 1px solid #fdfdfd; }

#footer {
  color: #666;
  text-align: center; }
  #footer .footer-nav {
    border-top: 3px solid #ff5482;
    background: #555;
    padding: 10px 0;
    color: #ddd; }
    #footer .footer-nav a {
      color: #ddd;
      margin: 0 10px;
      font-size: 12px; }
    #footer .footer-nav .hidden {
      display: none; }
  #footer .footer-content {
    background: #fff;
    padding: 20px 0 40px;
    color: #999; }
    #footer .footer-content .wrapper {
      width: 1080px;
      margin: 0 auto;
      position: relative; }
      #footer .footer-content .wrapper p {
        font-size: 12px;
        margin-bottom: 15px; }
        #footer .footer-content .wrapper p a {
          color: #999; }
          #footer .footer-content .wrapper p a img {
            vertical-align: middle; }
      #footer .footer-content .wrapper .foot-img {
        margin-top: 20px; }
        #footer .footer-content .wrapper .foot-img a img {
          width: 90px;
          height: 32px; }

.shopping-cart {
  position: fixed;
  bottom: 160px;
  left: 50%;
  z-index: 999;
  width: 70px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-top: none;
  opacity: .85;
  margin-left: 550px; }
  .shopping-cart .active {
    background: #ff4965; }
    .shopping-cart .active .iconfont {
      color: #fff !important; }
  .shopping-cart #sidebar-cart {
    position: relative;
    width: 70px;
    cursor: pointer;
    padding: 8px 0;
    text-align: center;
    color: #ff647c;
    border-top: 1px solid #e6e6e6;
    height: 27px; }
    .shopping-cart #sidebar-cart .cart-wrap {
      position: absolute;
      width: 60px;
      height: 43px; }
    .shopping-cart #sidebar-cart .car-bar {
      width: 350px;
      position: absolute;
      right: 0;
      bottom: -100px;
      left: -350px;
      display: none; }
      .shopping-cart #sidebar-cart .car-bar .car-bar-box {
        background: transparent;
        border: 1px solid #9b5482;
        width: 350px;
        text-align: left;
        color: #000;
        z-index: 30;
        cursor: default;
        position: relative; }
        .shopping-cart #sidebar-cart .car-bar .car-bar-box .car-bar-title {
          padding: 2px 15px;
          border-bottom: 1px solid #999;
          background: #fff9fb;
          font-size: 13px;
          text-align: center;
          color: #9b5482; }
          .shopping-cart #sidebar-cart .car-bar .car-bar-box .car-bar-title .iconfont {
            font-size: 18px; }
        .shopping-cart #sidebar-cart .car-bar .car-bar-box .car-list {
          background: white;
          overflow-y: hidden; }
          .shopping-cart #sidebar-cart .car-bar .car-bar-box .car-list li {
            font-size: 16px;
            color: #99918c;
            padding: 80px 0;
            text-align: center;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            border-bottom: none; }
            .shopping-cart #sidebar-cart .car-bar .car-bar-box .car-list li .select {
              width: 100%;
              display: block;
              transition: all 0.2s ease 0s;
              position: absolute;
              left: 0px;
              top: 80px;
              margin: 0px;
              padding: 0px; }
            .shopping-cart #sidebar-cart .car-bar .car-bar-box .car-list li .shoppshow {
              width: 100%;
              display: block;
              transition: all 0.2s ease 0s;
              position: absolute;
              left: -100%;
              top: 80px; }
        .shopping-cart #sidebar-cart .car-bar .car-bar-box .subtotal {
          height: 47px;
          border-top: 1px solid #e3e3e3;
          background: #fff9fb; }
          .shopping-cart #sidebar-cart .car-bar .car-bar-box .subtotal .subtotal-n {
            font-size: 13px;
            color: #666666;
            padding: 10px 15px;
            position: absolute; }
            .shopping-cart #sidebar-cart .car-bar .car-bar-box .subtotal .subtotal-n span {
              color: #e53363;
              font-size: 18px; }
          .shopping-cart #sidebar-cart .car-bar .car-bar-box .subtotal .settlement {
            background: #ff5482;
            padding: 4px 12px;
            font-size: 13px;
            color: white;
            border-radius: 4px;
            border-width: 1px 1px 2px;
            border-style: solid;
            border-color: #ff3c70 #ff3c70 #e53363;
            border-image: initial;
            float: right;
            margin-right: 15px;
            margin-top: 6px;
            height: 24px;
            width: auto;
            line-height: 24px; }
            .shopping-cart #sidebar-cart .car-bar .car-bar-box .subtotal .settlement a {
              color: #fff; }
              .shopping-cart #sidebar-cart .car-bar .car-bar-box .subtotal .settlement a .iconfont {
                font-size: 18px; }
    .shopping-cart #sidebar-cart .zero {
      position: absolute;
      top: -2px;
      right: 5px;
      color: #7dca00; }
      .shopping-cart #sidebar-cart .zero em {
        color: #fff;
        display: inline-block;
        font-size: 11px;
        position: absolute;
        right: 3px;
        text-align: center;
        top: 7px;
        width: 14px;
        line-height: 14px;
        height: 14px;
        border-radius: 50%;
        background: #7dca00;
        font-style: normal; }
      .shopping-cart #sidebar-cart .zero .iconfont {
        font-size: 22px;
        display: none; }
  .shopping-cart .phone-app {
    position: relative;
    display: block;
    width: 70px;
    cursor: pointer;
    padding: 8px 0;
    text-align: center;
    color: #ff647c;
    border-top: 1px solid #e6e6e6;
    height: 27px; }
    .shopping-cart .phone-app .phone-x {
      display: none;
      position: absolute;
      left: -185px;
      top: -62px;
      width: 160px;
      padding: 10px;
      border: 2px solid #ff4965;
      background: #fff; }
      .shopping-cart .phone-app .phone-x p {
        text-align: center;
        color: #333;
        line-height: 16px;
        font-size: 13px;
        font-family: "微软雅黑"; }
      .shopping-cart .phone-app .phone-x img {
        border: 0;
        margin-top: 10px; }
  .shopping-cart .customer {
    display: block;
    width: 70px;
    cursor: pointer;
    padding: 8px 0;
    text-align: center;
    color: #ff647c;
    position: relative;
    height: 27px;
    border-top: 1px solid #e6e6e6; }
    .shopping-cart .customer .iconfont {
      font-size: 18px; }
    .shopping-cart .customer span {
      line-height: 26px;
      display: none; }
  .shopping-cart .back-top {
    display: block;
    width: 70px;
    cursor: pointer;
    padding: 8px 0;
    text-align: center;
    color: #ff647c;
    border-top: 1px solid #e6e6e6;
    position: relative;
    height: 27px; }
    .shopping-cart .back-top span {
      line-height: 26px;
      display: none; }

/*# sourceMappingURL=index.css.map */
