@font-face {
  font-family: "nc_iconfont";
  src: url(../fonts/font_1465353706_4784257.woff) format("woff"); }
@font-face {
  font-family: iconfont;
  src: url(fonts/font_tr83tta2jkc8r529.woff) format("woff"); }
.head {
  width: 1080px;
  margin: 0 auto;
  padding-top: 45px;
  overflow: hidden; }
  .head .head-logo {
    float: left; }
    .head .head-logo a {
      display: block;
      background: url(https://h0.hucdn.com/open201912/113f25eac3906f0d_114x60.jpg) no-repeat 0 0 #fff;
      height: 60px;
      position: relative;
      width: 114px; }
  .head .head-pic a {
    float: right;
    display: block;
    background: url(../img/upload_d96e41a66c898b1e6afef9efbfbdc1be_361x54.png) no-repeat 0 3px #fff;
    height: 50px;
    position: relative;
    width: 360px; }

.login-main {
  overflow: hidden;
  padding: 110px 0;
  width: 1080px;
  margin: 0 auto; }
  .login-main .login-picture {
    width: 500px;
    height: 354px;
    background: url(../img/0972a068e6793844_500x354.png) no-repeat;
    position: relative;
    left: 50px;
    display: inline-block; }
  .login-main .login-sign {
    color: #666;
    width: 400px;
    border: 1px solid #ececec;
    border-top: 2px solid #ff4965;
    float: right;
    position: relative; }
    .login-main .login-sign form {
      padding: 50px 35px; }
      .login-main .login-sign form .lo-label {
        display: block;
        border: 1px solid #e6e6e6;
        border-radius: 2px;
        padding-left: 30px;
        position: relative;
        height: 32px; }
        .login-main .login-sign form .lo-label .fixedpic {
          position: absolute;
          left: 8px;
          top: 8px;
          border-right: 1px solid #e6e6e6;
          padding-right: 7px;
          background-image: url(https://b0.hucdn.com/party/default/upload_c8f6a2dfe4ca17b3941740e88373a88e_14x93.jpg);
          background-repeat: no-repeat;
          width: 14px;
          height: 14px;
          line-height: 30px;
          color: #fff;
          text-align: center; }
        .login-main .login-sign form .lo-label .input {
          height: 30px;
          font-size: 12px;
          width: 278px;
          color: #666;
          line-height: 30px;
          border: 0;
          padding: 0 10px;
          background: 0 0;
          position: relative; }
      .login-main .login-sign form .lo-title {
        font-size: 14px;
        color: #000;
        font-weight: 700;
        margin-bottom: 30px; }
        .login-main .login-sign form .lo-title .lo-not {
          font-size: 12px;
          font-weight: 400;
          color: #666;
          float: right; }
          .login-main .login-sign form .lo-title .lo-not .lo-register {
            color: #ff4965; }
      .login-main .login-sign form .lo-email {
        margin-top: 15px; }
        .login-main .login-sign form .lo-email .lo-label .em-pic {
          background-position: 0 0; }
        .login-main .login-sign form .lo-email .single-notice {
          display: none;
          height: 18px;
          line-height: 18px;
          margin-top: 8px;
          color: #fe4b49;
          font-size: 12px; }
          .login-main .login-sign form .lo-email .single-notice .iconfont {
            margin-right: 3px;
            vertical-align: middle;
            font-family: iconfont;
            font-size: 16px;
            font-style: normal; }
      .login-main .login-sign form .lo-password {
        margin-top: 15px; }
        .login-main .login-sign form .lo-password .lo-label .pass-pic {
          background-position: 0 -47px; }
        .login-main .login-sign form .lo-password .single-notice {
          display: none;
          height: 18px;
          line-height: 18px;
          margin-top: 8px;
          color: #fe4b49;
          font-size: 12px; }
      .login-main .login-sign form .lo-slide {
        margin-top: 15px; }
        .login-main .login-sign form .lo-slide .s-wrapper {
          margin-top: 15px; }
          .login-main .login-sign form .lo-slide .s-wrapper .nc-wrapper {
            width: 330px; }
            .login-main .login-sign form .lo-slide .s-wrapper .nc-wrapper .nc-sbox {
              width: auto;
              height: 34px;
              background: #e8e8e8;
              position: relative;
              margin: 0;
              padding: 0; }
              .login-main .login-sign form .lo-slide .s-wrapper .nc-wrapper .nc-sbox .nc_iconfont {
                font-family: "nc_iconfont";
                color: #ff3f08;
                font-size: 16px;
                font-style: normal; }
              .login-main .login-sign form .lo-slide .s-wrapper .nc-wrapper .nc-sbox .btn_slide {
                color: #737383;
                background-image: none; }
              .login-main .login-sign form .lo-slide .s-wrapper .nc-wrapper .nc-sbox span {
                text-align: center;
                width: 40px;
                height: 32px;
                line-height: 32px;
                border: 1px solid #ccc;
                position: absolute;
                left: 0;
                cursor: move;
                background: #fff;
                z-index: 100; }
              .login-main .login-sign form .lo-slide .s-wrapper .nc-wrapper .nc-sbox .nc-text {
                width: 100%;
                height: 100%;
                text-align: center;
                position: absolute;
                background: transparent;
                color: #9c9c9c;
                line-height: 34px;
                cursor: pointer; }
                .login-main .login-sign form .lo-slide .s-wrapper .nc-wrapper .nc-sbox .nc-text .nc-text-span {
                  display: inline-block;
                  width: 100%;
                  border: none;
                  position: static;
                  background: none;
                  font-size: 12px; }
      .login-main .login-sign form .lo-auto {
        margin-top: 15px;
        font-size: 10px; }
        .login-main .login-sign form .lo-auto a {
          color: #ff4065;
          float: right; }
        .login-main .login-sign form .lo-auto .auto-input {
          vertical-align: middle;
          box-sizing: border-box;
          padding: 0; }
      .login-main .login-sign form .lo-btn {
        margin-top: 15px; }
        .login-main .login-sign form .lo-btn input {
          display: block;
          border: 0;
          width: 330px !important;
          color: #fff;
          background: #ff4965;
          height: 32px;
          border-radius: 3px;
          text-align: center;
          font-size: 14px; }
      .login-main .login-sign form .lo-spic {
        overflow: hidden;
        height: 24px;
        line-height: 24px;
        margin-top: 15px; }
        .login-main .login-sign form .lo-spic span {
          float: left;
          font-size: 10px; }
        .login-main .login-sign form .lo-spic .bg-img {
          background-image: url(../img/764d876bb3aa326726486d71ee891b66_173x24.png);
          background-repeat: no-repeat;
          width: 25px;
          height: 24px;
          margin: 0 4px; }
        .login-main .login-sign form .lo-spic .lo-spic-qq {
          display: inline-block;
          background-position: 1px 0; }
        .login-main .login-sign form .lo-spic .lo-spic-qq:hover {
          background-position: -28px 0; }
        .login-main .login-sign form .lo-spic .lo-spic-wx {
          display: inline-block;
          background-position: -119px 0;
          width: 26px; }
        .login-main .login-sign form .lo-spic .lo-spic-wx:hover {
          background-position: -149px 0; }

#footer {
  color: #666;
  text-align: center; }
  #footer .footer-nav {
    border-top: 3px solid #ff5482;
    background: #555;
    padding: 10px 0;
    color: #ddd; }
    #footer .footer-nav a {
      color: #ddd;
      margin: 0 10px;
      font-size: 12px; }
    #footer .footer-nav .hidden {
      display: none; }
  #footer .footer-content {
    background: #fff;
    padding: 20px 0 40px;
    color: #999; }
    #footer .footer-content .wrapper {
      width: 1080px;
      margin: 0 auto;
      position: relative; }
      #footer .footer-content .wrapper p {
        font-size: 12px;
        margin-bottom: 15px; }
        #footer .footer-content .wrapper p a {
          color: #999; }
          #footer .footer-content .wrapper p a img {
            vertical-align: middle; }
      #footer .footer-content .wrapper .foot-img {
        margin-top: 20px; }
        #footer .footer-content .wrapper .foot-img a img {
          width: 90px;
          height: 32px; }

/*# sourceMappingURL=login.css.map */
